<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1 >data practice</h1>
</div>

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import sqlite3

In [73]:
uscountiesdf = pd.read_csv("../Desktop/Phase_2_Final_Project/project_datasets/us-counties.csv")
uscountiesdf

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1157379  2021-03-25  Sweetwater     Wyoming  56037.0   3961    36.0
1157380  2021-03-25       Teton     Wyoming  56039.0   3549     9.0
1157381  2021-03-25       Uinta     Wyoming  56041.0   2115    12.0
1157382  2021-03-25    Washakie     Wyoming  56043.0    889    26.0
1157383  2021-03-25      Weston     Wyoming  56045.0    632     5.0

[1157384 rows x 6 columns]

In [74]:
usstatesdf = pd.read_csv("../Desktop/Phase_2_Final_Project/project_datasets/us-states.csv")
usstatesdf

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
21349  2021-03-25       Virginia    51  610263   10147
21350  2021-03-25     Washington    53  361300    5286
21351  2021-03-25  West Virginia    54  139251    2624
21352  2021-03-25      Wisconsin    55  632331    7268
21353  2021-03-25        Wyoming    56   55920     695

[21354 rows x 5 columns]

In [81]:
conn = sqlite3.connect("../Desktop/Phase_2_Final/project_datasets/us-states.csv")
cur = conn.cursor()

OperationalError: unable to open database file

In [83]:
results = cur.fetchall()
print(results)

[]